## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_new=application_df.drop(['EIN', 'NAME'], axis =1)

application_df_new.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.

application_df_new.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df_new.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_df= application_df_new

application_types_to_replace = list(application_counts[application_counts<528].index)

application_types_to_replace 

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts =  application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

classification_counts_df = classification_counts.loc[classification_counts>1]
classification_counts_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`

application_categorical = pd.get_dummies(application_df)
application_categorical.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_categorical.drop(['IS_SUCCESSFUL'], axis=1)
y = application_categorical['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
X_train_scaled [0]

array([ 0.01394306, -0.0326087 , -0.08739778, -0.12519973, -0.1792735 ,
        0.51920001, -0.21760398, -0.18864719, -0.18985931, -0.15093838,
       -0.14835879,  1.08585297, -0.04368605, -1.07857165, -0.03055899,
       -0.01079982, -0.01972038, -1.00843238, -0.40429624,  2.16358393,
       -0.24270529, -0.24512052, -0.26793409, -0.10490262, -0.06642414,
       -0.01079982,  0.47102932, -0.44644148,  1.5200928 , -0.11947101,
       -0.03583987, -1.46646531,  0.63687224, -0.14808487, -0.12694995,
       -0.32766015, -0.08417892, -0.17017638, -0.35074854, -0.0630948 ,
       -0.07502931,  0.02789425, -0.02789425])

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

input_layer_dim = len(X_train_scaled [0])

first_layer_nodes = 10

second_layer_nodes = 10

third_layer_nodes = 10

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=first_layer_nodes, activation="relu", input_dim=input_layer_dim))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units= second_layer_nodes, activation="sigmoid"))


# # Third hidden layer
# nn_model.add(tf.keras.layers.Dense(units= third_layer_nodes, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units= 1, activation="sigmoid"))
# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 561
Trainable params: 561
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 4s 3ms/step - loss: 0.6218 - accuracy: 0.6764
Epoch 2/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5632 - accuracy: 0.7279
Epoch 3/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - accuracy: 0.7302
Epoch 4/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7296
Epoch 5/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7302
Epoch 6/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7305
Epoch 7/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7311
Epoch 8/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7320
Epoch 9/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7312
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7315
Epoch 11/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7324
Epoch 12/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7329
Epoch 13/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7325
Epoch 14/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7332
Epoch 15/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7331
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7329
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7327
Epoch 18/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7336
Epoch 19/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 20/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7340
Epoch 21/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 22/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7340
Epoch 23/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7333
Epoch 24/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7327
Epoch 25/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7337
Epoch 26/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7341
Epoch 27/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 28/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7337
Epoch 29/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7346
Epoch 30/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7340

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5572 - accuracy: 0.7290 - 503ms/epoch - 2ms/step
Loss: 0.5572277903556824, Accuracy: 0.7289795875549316

In [25]:
# Export our model to HDF5 file

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
filename = '/content/drive/My Drive/UWA-Bootcamp/NN_Models/02_Layer_Model.h5'

#save model in google drive
nn_model.save(filename)

In [28]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=5), activation=activation, input_dim=input_layer_dim))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [30]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 176.1/176.1 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [31]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 54 Complete [00h 00m 25s]
val_accuracy: 0.7097375988960266

Best val_accuracy So Far: 0.7302623987197876
Total elapsed time: 00h 21m 38s

Search: Running Trial #55

Value             |Best Value So Far |Hyperparameter
sigmoid           |relu              |activation
26                |26                |first_units
5                 |4                 |num_layers
11                |6                 |units_0
26                |6                 |units_1
11                |16                |units_2
6                 |16                |units_3
11                |21                |units_4
20                |20                |tuner/epochs
7                 |7                 |tuner/initial_epoch
1                 |1                 |tuner/bracket
1                 |1                 |tuner/round
0050              |0018              |tuner/trial_id

Epoch 8/20
804/804 [==============================] - 6s 5ms/step - loss: 0.5753 - accuracy: 0.7311 - val_loss: 0.5814 - val_accuracy: 0.7266
Epoch 9/20
136/804 [====>.........................] - ETA: 3s - loss: 0.5598 - accuracy: 0.7449

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
filename = '/content/drive/My Drive/UWA-Bootcamp/NN_Models/Best_model.h5'

#save model in google drive
best_model.save(filename)